@model List<DTOs.DTO.ListPostVM>




<div class="col-12 col-md-4 col-xl-3 ">

    <div class="border border-2 py-3 px-2">


         <h6 class="text-center">Articulos Recientes</h6>

        @foreach(var items in Model.Take(10)){



        <a class="text-decoration-none" asp-action="Details" asp-controller="Post" asp-route-id="@items.Id">

                @if (items.Imagen is not null)
                {
                    <img src="/Imagenes/@items.Imagen" class="img-fluid img-thumbnail" >

                }
                else
                {

                    <div class="bg-primary w-100 d-flex justify-content-center align-items-center" style="height:180px">

                        <p class="text-black-50">Sube una imagen</p>

                    </div>


                }
                

                <p class="text-dark ">@items.Titulo</p>

            </a>


        }


    </div>

 </div>