@using System.Text.RegularExpressions;
@model DTOs.DTO.ListPostVM
@{
    ViewData["Title"] = "GetPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    


    <div class="row d-flex justify-content-around ">

       


          
       
        <div class="col-12 col-md-8  border boder-1 g-0">

                <div>
                    <img src="/Imagenes/@Model.Imagen" class="card-img-top" alt="...">
                </div>

                <div class="mt-2 ">

                    <p class=" bg-info d-inline-block p-1 text-white border rounded-3">@Model.IdCategoriaNavigationNombre</p>
                    <a asp-action="Edit" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-outline-warning float-end  ">Editar</a>
                </div>

                <h1>@Model.Titulo</h1>
                <div>
                    @{
                        string text = Model.Descripcion.Replace("&nbsp;", string.Empty);

                        text = Regex.Replace(text, "<.*?>", string.Empty);
                    }
                    @text
                </div>
            

        </div>

        <div class="col-12 col-md-3 border border-2">

        </div>

    </div>

   


</div>