@using System.Text.RegularExpressions;
@model DTOs.DTO.ListPostVM
@{
    ViewData["Title"] = "GetPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetPost</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 text-center">

            <div>

                <img src="/Imagenes/@Model.Imagen" class="card-img-top" alt="..." style="height:300px; width:500px">

            </div>
            <h1>@Model.Titulo</h1>
            <div>
                @{
                    string text = Model.Descripcion.Replace("&nbsp;", string.Empty);

                    text = Regex.Replace(text, "<.*?>", string.Empty);
               }
               @text
            </div>

        </div>


    </div>


</div>