@model IEnumerable<DTOs.DTO.Certificaciones>


<section id="Certificados">

    <div class="col-12 py-5 seccion_Certificados">


        <div class="row">

            <h2 class="text-center mb-5 text-primary">Certificaciones</h2>

            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4">

                    <div class="card text-center shadow bg-dark p-3 text-white">

                        <img src="~/Imagenes/Certificados/@item.Foto" alt="..." height="200" class="rounded-2 img-certificados">

                        <div class="card-body">

                            <h6 class="card-title ">@item.Titulo</h6>

                            <small class="text-muted" >@item.Centro</small>

                           
                        </div>
                    </div>

                </div>
            }


        </div>


    </div>

</section>