<section id="Habilidades">

    <div class="col-12  rounded-3 py-5 seccion_habilidades">

        <div class="row justify-content-center text-center text-primary ">

            <h2 class="text-center mb-3 text-primary">Habilidades</h2>

            <div class="con-12 col-md-4  border  border-end-0 py-5 shadow rounded-3">

                <h2>Backend</h2>
                <ul class="list-unstyled">
                    <li>C Sharp</li>
                    <li>ASP.net Core MVC</li>
                    <li>Windows Forms</li>
                    <li>Web API</li>
                    <li>Entity Framework</li>
                    <li>ADO.net, Dapper, LINQ</li>


                </ul>

                <h4>Base de Datos</h4>
                <ul class="list-unstyled">

                    <li>SQL Server</li>
                    <li> Oralce PL/SQL</li>

                </ul>

            </div>

            <div class="con-12 col-md-4 border border-start-0  py-5 shadow rounded-3">

                <h2>Frontend</h2>
                <ul class="list-unstyled">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Java Script</li>
                    <li>Bootstrap</li>
                    <li></li>
                    <li>Jquery, JSON, AJAX, Fetch</li>
                    <li>React</li>

                </ul>


                <h4>Herramientas</h4>
                <ul class="list-unstyled">

                    <li>GIT</li>
                    <li>GIT HUB</li>

                </ul>

            </div>

        </div>


    </div>
</section>