<section id="Habilidades">

    <div class="col-12  rounded-3 py-3 seccion_habilidades">

        <div class="row justify-content-center text-center text-primary ">

            <h2 class="text-center mb-5 text-primary">Habilidades</h2>

            <div class="con-12 col-md-5  border border-end-0 py-3 shadow rounded-3 bg-light">

                 <i class="fas fa-hdd iconos_Habilidades"></i>

                <h3 class="text-dark">Backend</h3>

                <ul class="list-unstyled">
                    <li>C Sharp</li>
                    <li>ASP.net Core MVC</li>
                    <li>Windows Forms</li>
                    <li>Web API</li>
                    <li>Entity Framework</li>
                    <li>ADO.net, Dapper, LINQ</li>


                </ul>

                <i class="fas fa-database  iconos_Habilidades"></i>

                <h4 class="text-dark">Base de Datos</h4>
                <ul class="list-unstyled">

                    <li>SQL Server</li>
                    <li> Oralce PL/SQL</li>

                </ul>

            </div>

            <div class="con-12 col-md-5 border border-start-0  py-3 shadow rounded-3 bg-light">
               
             
                    <i class="fas fa-code iconos_Habilidades"></i>
                
                <h3 class="text-dark">Frontend</h3>

                <ul class="list-unstyled">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Java Script</li>
                    <li>Bootstrap</li>
                    <li></li>
                    <li>Jquery, JSON, AJAX, Fetch</li>
                    <li>React</li>

                </ul>

                <i class="fas fa-code-branch iconos_Habilidades"></i>

                <h4 class="text-dark"s>Herramientas</h4>

                <ul class="list-unstyled">

                    <li>Git</li>
                    <li>Git Hub</li>

                </ul>

            </div>

        </div>


    </div>
</section>