
@using System.Security.Claims;
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ing. Garcia Nova</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogPersonal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Card.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  bg-dark  box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Post" asp-action="Index">

                    <img src="~/Imagenes/ing_wilson.jpg" class="img-fluid rounded-circle" width="50" height="50"/>

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-md-flex justify-content-md-end ">

               

                    <ul class="navbar-nav text-center  ">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">


                                <a class="nav-link " asp-controller="Post" asp-action="Index">

                                    <small class="online"></small> @User.FindFirstValue(ClaimTypes.GivenName)
                                </a>

                            </li>
                        }


                        @*desplegable configuracion dentro del menu*@

                        @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" title="Mantenimiento" aria-expanded="false">

                                    <i class="fa-solid fa-gear fa-xl icono_herramienta"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="Post" asp-action="Create">Create Nueva Entrada</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        }
                        

                      
                        <li class="nav-item text-light">

                            <a class="nav-link " asp-controller="Post" asp-action="Index"> Home</a>
                            
                        </li>
                        <li class="nav-item">

                            <a class="nav-link " href="#"> Contacto</a>
                        </li>
                        <li class="nav-item">

                        <a class="nav-link " href="#"> Quienes Soy</a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link " asp-controller="Post" asp-action="Index">Ir a Portafolio</a>
                            
                        </li>

                       @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">

                                <a class="nav-link " asp-controller="Acceso" asp-action="Index">Iniciar Seccion</a>

                            </li>
                        }

                       @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">

                                <a class="nav-link " asp-controller="Acceso" asp-action="Logout">

                                    <i class="fa-solid fa-arrow-right-to-bracket"> </i> Salir
                                    
                                </a>

                            </li>
                        }
                    </ul>
                            
                       
                       
                        
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container border-top">
            
                    <div class="row text-light">


                        <div class="col-12 col-md-4 text-center  ">

                            <h5 class="mt-5 fs">Redes Sociales</h5>

                            <div class=" h-75 boton-redes d-flex justify-content-center align-items-center">

                                <a href="https://www.linkedin.com/in/wilson-garcia-nova-733439123/">  <i class="fa-brands fa-linkedin-in"></i>  </a>

                                <a href="https://github.com/garcianova18">  <i class="fa-brands fa-github"></i>  </a>


                            </div>

                        </div>

                        <div class="col-12 col-md-4 text-center border-danger">

                            <h5 class="mt-5">Secciones</h5>

                            <ul class="list-unstyled h-75 d-flex flex-column justify-content-center ">

                        <li class="nav-item">

                            <a class="nav-link " asp-controller="Post" asp-action="Index"> Home</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link " href="#"> Contacto</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link " href="#"> Quienes Soy</a>
                        </li>

                        <li class="nav-item">
                                <li class="nav-item">

                                    <a class="nav-link " href="#Proyectos"> Ir a Portafolio</a>
                                </li>


                               
                            </ul>

                        </div>

                        <div class="col-12 col-md-4 text-center ">

                            <h5 class="mt-5">Contacto</h5>

                            <div class=" h-75 d-flex justify-content-center align-items-center">
                        <a class="btn btn-lg btn-primary text-light" href="mailto:Wilsongarcianova18@gmail.com">Contactame</a>

                            </div>

                        </div>

                    </div>

                <div class="row">

                    <div class="col-12 my-5 text-center text-white  ">

                    <p>
                        Design by <span class="text-primary ">Wilson Garcia Nova</span>  &copy; @{
                            var anio = DateTime.Now;
                        } @anio.Year</p>

                    </div>

                </div>

        </div>

       
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c6f899d35a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
