<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ing. Garcia Nova</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogPersonal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Card.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Portafolio" asp-action="Index">

                    <img src="~/Imagenes/ing_wilson.jpg" class="img-fluid rounded-circle" width="50" height="50"/>

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-md-flex justify-content-md-end ">


                    <ul class="navbar-nav text-center  ">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" title="Mantenimiento" aria-expanded="false">

                                <i class="fa-solid fa-gear fa-xl icono_herramienta"></i>
                            </a> 
                            
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li> <a class="dropdown-item" asp-area="" asp-controller="Post" asp-action="Create">Create New</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                      
                        <li class="nav-item">

                            <a class="nav-link text-primary " asp-controller="Post" asp-action="Index"> Visitar Blog</a>
                            
                        </li>
                        <li class="nav-item">

                            <a class="nav-link text-primary " href="#Habilidades"> Habilidades</a>
                            
                        </li>
                        <li class="nav-item">

                            <a class="nav-link text-primary" href="#Proyectos"> Proyectos</a>
                        </li>
                    </ul>
                            
                       
                       
                        
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
          Design by Wilson Garcia Nova  &copy; 2023 <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c6f899d35a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
