<div class="col-12 text-center mb-3 mt-2 text-white py-5 seccion_Presentacion rounded-2">

    <img src="~/Imagenes/ing_wilson.jpg" class="img-thumbnail rounded-circle" />
    <h1 class=" mt-5">Wilson Garcia Nova</h1>
    <h5>Ingeniero de Sistema y Computacion</h5>

    <a href="~/archivos/Ing. Wilson garcia nova.pdf" class="btn btn-outline-warning mt-3 descargar_curriculum ">

        <span class="pe-2">Descargar CV </span>
        <i class="fa-solid fa-file-arrow-down fa-beat-fade"></i>

    </a>

    <div class="d-flex justify-content-center mt-3 mt-lg-0 justify-content-lg-end botones me-lg-4 ">

        <a href="https://www.linkedin.com/in/wilson-garcia-nova-733439123/">  <i class="fa-brands fa-linkedin-in"></i>  </a>

        <a href="https://github.com/garcianova18">  <i class="fa-brands fa-github"></i>  </a>


    </div>
</div>